html{
    background-image: url(./images.jfif); 
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300%;
    width: 100%;
    border: 10px groove greenyellow;
}
.box1{
    border: 5px solid red;
    background-color: black;
    color: white;
    height: 100px;
    width: 300px;
    margin: 30px;
    border-radius: 40px;
    padding: 20px;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
}
.box2{
    border: 5px solid red;
    background-color: black;
    color: white;
    height: 30px;
    width: 450px;
    border-radius: 40px;
    padding: 20px;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    top: 60px;
    left: 210px;
}
.box3{
    border: 5px solid red;
    background-color: black;
    color: white;
    height: 150px;
    width: 350px;
    margin: 30px;
    border-radius: 40px;
    padding: 20px;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 20px;
}
.circle{
    background-color: rgb(17, 144, 148);
    border: 6px solid gray;
    width: 300px;
    height: 300px;
    border-radius: 50%;
   font-size: 25px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
   text-align: center;
   padding: 35px;

}
.hr{
   width: 365px;
   position: relative;
   right: 32px;
}
::placeholder
{
    text-align: center;
}
.register{
    border: 5px  dashed red;
    background-color: white;
    position: absolute;
    top: 300px;
    right: 100px;
    padding: 5px;
    color: palevioletred;
   display: flex;
   flex-direction: column; 
  align-items: center;
  text-align: center;
}
.box4{
    border: 5px solid red;
    background-color: black;
    color: white;
    height: 35px;
    width: 350px;
    margin: 30px;
    border-radius: 40px;
    padding: 20px;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    position: absolute;
    right: 400px;
    top: 400px;
}
hr.line{
    width: 2050px;
    border: 1px solid whitesmoke;
    position: absolute;
    top: 100%;
   
}


.last-menu{
 position: absolute;
 right: 100px; 
 top: 700px; 
 display: inline-flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
height: 800px;
width: 1000px;
}

.common{
    border: 1px solid darkcyan;
    width: 320px;
    height: 250px;
    color:darkblue ;
    background-color: darkturquoise;
    border-radius: 40px;
    text-align: center;
}